.aboutme0{
    // background-color: rgb(22, 38, 6);
    background: #121212;
    // linear-gradient(to bottom, rgb(22, 38, 6, 0.5), rgb(0, 0, 0)),
    // url(https://grainy-gradients.vercel.app/noise.svg)
}