.Skill-container{
    display: flex;
    position: relative;
    max-height: 90vh;
    overflow: hidden;
    justify-content: space-between;

    .s1{
        z-index: 999;
        padding: 10px 10px;
        text-align: left;
        display: flexbox;
        border-radius: 10px;
        border: 1px solid #d3d3d3;
        box-shadow: 0px 0px 5px #d3d3d36b;
        margin-left: 5px;
        margin-right: 5px;
    }
    .s2{
        z-index: 999;
        padding: 10px 10px;
        text-align: left;
        display: flexbox;
        border-radius: 10px;
        border: 1px solid #d3d3d3;
        box-shadow: 0 0 10px #d3d3d36b;
        margin-left: 5px;
        margin-right: 5px;
    }
    .s3{
        z-index: 999;
        padding: 10px 10px;
        text-align: left;
        display: flexbox;
        margin-left: 5px;
        margin-right: 5px;
        border-radius: 10px;
        border: 1px solid #d3d3d3;
        box-shadow: 0 0 10px #d3d3d36b;
    }
    .s4{
        z-index: 999;
        padding: 10px 10px;
        text-align: left;
        display: flexbox;
        margin-left: 5px;
        margin-right: 5px;
        border-radius: 10px;
        border: 1px solid #d3d3d3;
        box-shadow: 0 0 10px #d3d3d36b;
    }
    .s5{
        z-index: 999;
        padding: 10px 10px;
        text-align: left;
        display: flexbox;
        margin-left: 5px;
        margin-right: 5px;
        border-radius: 10px;
        border: 1px solid #d3d3d3;
        box-shadow: 0 0 10px #d3d3d36b;
    }
    .s1:hover{
        background-color: #ff611d;
        color: #ffffff;
    }
    .s2:hover{
        background-color: #ff611d;
        color: #ffffff;
    }
    .s3:hover{
        background-color: #ff611d;
        color: #ffffff;
    }
    .s4:hover{
        background-color: #ff611d;
        color: #ffffff;
    }
    .s5:hover{
        background-color: #ff611d;
        color: #ffffff;
    }
}