.navbar{
    height:50px;
    font-size: large;

    .navbar-container {
        max-width: 95%;
        padding-right: 15px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        height: 100%;
        align-items: center;


        .location{
            display: flex;
            align-items: center;
            font-size: inherit;
            color: inherit;
            text-decoration: none;
            height: 100%;

            .icon{
                display: inherit;
                align-items: inherit;
                padding: 5px;
                height: 15px;
                width: 15px;
            }
        }
        .menu{
            display: flex;
            align-items: center;
            font-size: inherit;
            color: inherit;
            text-decoration: none;
            height: 100%;
        }
    }
}

