@import "../../../App.scss";
.educon{
    display: flex;
    flex-direction: column;
    width: inherit;
    @include mobile{
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
        font-size: 13px;
    }
    .q1{
        display: flex;
        padding-left: 25px;
        height: 50px;
        align-items: center;
        border-top: 2px solid #d3d3d3;
        border-bottom: 1px solid #d3d3d3;
        justify-content: space-between;
        @include mobile{
            padding-left: 0px;
            height: 35px;
        }
        .q1-0{
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .q1-1{
            width: 60%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }
    }
    .q2{
        display: flex;
        height: 50px;
        padding-left: 25px;
        align-items: center;
        border-top: 1px solid #d3d3d3;
        border-bottom: 1px solid #d3d3d3;
        justify-content: space-between;
        @include mobile{
            padding-left: 0px;
            height: 35px;
        }
        .q2-0{
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .q2-1{
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }
    }
    .q3{
        display: flex;
        height: 50px;
        padding-left: 25px;
        align-items: center;
        border-top: 1px solid #d3d3d3;
        border-bottom: 2px solid #d3d3d3;
        justify-content: space-between;
        @include mobile{
            padding-left: 0px;
            height: 35px;
        }
        .q3-0{
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .q3-1{
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }
    }
    .q1:hover{
        background-color: #ebae1f;
        color: #121212;
    }
    .q2:hover{
        background-color: #ebae1f;
        color: #121212;
    }
    .q3:hover{
        background-color: #ebae1f;
        color: #121212;
    }
}