@import "../../../App.scss";

.educon{
    display: flex;
    flex-direction: column;
    width: inherit;
    font-size: larger;
    @include mobile{
        font-size: 15px;
        width: 100wh;
    }
    .q1{
        display: flex;
        padding-left: 70px;
        height: 50px;
        align-items: center;
        border-top: 1px solid #d3d3d3;
        border-bottom: 1px solid #d3d3d3;
        justify-content: space-between;
        @include mobile{
            justify-content: space-evenly;
        }
        .q1-0{
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            @include mobile{
                justify-content: space-evenly;
            }
        }
        .q1-1{
            width: 30%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            @include mobile{
                justify-content: space-evenly;
            }
        }
    }
    .q2{
        display: flex;
        height: 50px;
        padding-left: 70px;
        align-items: center;
        border-top: 1px solid #d3d3d3;
        border-bottom: 1px solid #d3d3d3;
        justify-content: space-between;
        .q2-0{
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .q2-1{
            width: 30%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }
    }
    .q3{
        display: flex;
        height: 50px;
        padding-left: 70px;
        align-items: center;
        border-top: 1px solid #d3d3d3;
        border-bottom: 1px solid #d3d3d3;
        justify-content: space-between;
        .q3-0{
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .q3-1{
            width: 30%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }
    }
    .q1:hover{
        background-color: #ebae1f;
        color: #121212;
    }
    .q2:hover{
        background-color: #ebae1f;
        color: #121212;
    }
    .q3:hover{
        background-color: #ebae1f;
        color: #121212;
    }
}