@import "../../App.scss";

.portfolio {
  position: relative;
  // overflow: hidden;
  .progress {
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 50px;
    text-align: center;
    color: orange;
    font-size: 36px;

    @include mobile {
      padding-top: calc(100vh - 100px);
      font-size: 24px;
      display: none;
    }

    .progressBar {
      height: 10px;
      background-color: rgb(22, 38, 6);
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .wrapper {
      max-width: 1366px;
      height: 100%;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;

      @include mobile {
        flex-direction: column;
      }

      .textContainer {
        flex: 1;
        display: flex;
        flex-direction: row;
        // top: 25px;
        height: 60%;
        gap: 30px;
        // background-color: #9b9b9b;
        border-radius: 10px;
        border: 2px solid rgb(22, 38, 6);
        z-index: 3;
        font-size: larger;
        justify-content: center;
        align-content: center;
        @include mobile {
          transform: none !important;
          padding: 10px;
          align-items: center;
          text-align: center;
          flex-direction: column;
          border: 2px solid rgb(22, 38, 6);
          margin: 10px;
        }
        cursor: pointer;
        .readmore{
          padding-top: 20px;
        }
        h2 {
          padding: 10px;
          font-size: 63px;
          width: 40%;
          align-items: center;
          justify-content: center;
          z-index: 2;
          @include mobile {
            // justify-content: baseline;
            font-size: 24px;
            width: 100%;
          }
        }

        p {
          color: #121212;
          font-size: larger;
          // padding: 20px;
          @include mobile {
            font-size: 15px;
          }
        }
        .click{
          color: orange;
          font-size: larger;
          font-weight: 400;
          padding: 20px;
        }
        .click:hover{
          color: #121212;
        }
        ul {
          padding: 20px;
        }
        li {
          padding-top: 5px;
          padding-bottom: 5px;
        }

        a{
          // background-color: orange;
          border: none;
          // position: relative;
          font-size: 20px;
          width: auto;
          border-radius: 10px;
          padding: 10px;
          align-items: center;
          width: 200px;
          cursor: pointer;
          top: 200px;
          left: 550px;
        }
        .imageContainer {
          flex: 1;
          height: auto;
          width: 60%;
          padding: 10px;
  
          @include mobile {
            width: 100%;
            max-height: 300px;
          }
  
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius:5px;
            @include mobile {
              object-fit: cover;
              border-radius: 10px;
            }
          }
        }
      }
      .textContainer:hover{
        border: 2px solid orange;
        // border: linear-gradient(180deg, #121212, #000000);
      }
    }
  }
}