@import "../../../App.scss";

.abt0{
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-size: larger;
    // background-color: #121212;
    color: rgb(22, 38, 6);
    @include mobile{
        height: 100%;
    }
    .at0 {
        font-size: 5em;
        // background-color: #121212;
        // background-color: rgb(22, 38, 6); #5fa1c500;
        background-color:  #5fc58f85;
        // background-color: linear-gradient(to right,  #5fc58f92, #121212),
        //     url(https://grainy-gradients.vercel.app/noise.svg);
        color: #d3d3d3;
        position: relative;
        padding: 50px;
        padding-bottom: 50px;
        padding-top: 50px;
        text-transform: uppercase;
        @include mobile{
            padding: 20px;
            font-size: 2em;
        }
        .title {
            padding-left: 250px;
            justify-content: left !important;
            @include mobile{
                padding-left: 10px;
            }
        }
        .title1{
            display: flex;
            justify-content: center !important;
            align-items: center;
            @include mobile{
                padding-left: 20px;
            }
        }
    }
    .acontainer0{
        display: flex;
        flex-direction: column;
        // background-color: #121212;
        // background-color: rgb(22, 38, 6);
        background-color: #5fc58f85;
        color: #d3d3d3;
        font-size: larger;
        @include mobile{
            font-size: medium;
        }
        .about0{
            display: flex;
            padding-bottom: 75px;
            @include mobile{
                flex-direction: column;
                padding-bottom: 35px;
            }
            .bio{
                padding-left: 100px;
                display: flex;
                justify-content: left;
                align-items: start;
                width: 30%;
                text-transform: uppercase;
                @include mobile{
                    padding-left: 40px;
                    font-size: 15px;
                }
            }
            .cards{
                display: flex;
                justify-content: left;
                align-items:start;
                padding-right: 100px;
                width: 90%;
                @include mobile{
                    // width: 100%;
                    padding-left: 20px;
                    padding-top: 20px;
                    font-size: 15px;
                }
            }
        }
        .education{
            display: flex;
            padding-bottom: 75px;
            height: auto;
            @include mobile{
                flex-direction: column;
            }
            .edubio{
                padding-left: 100px;
                display: flex;
                justify-content: left;
                align-items: start;
                width: 30%;
                text-transform: uppercase;
                @include mobile{
                    padding-left: 40px;
                }
            }
            .educards{
                display: flex;
                padding-right: 100px;
                width: 90%;
                @include mobile{
                    padding-right: 20px;
                    font-size: 8px;
                    padding-left: 20px;
                    padding-top: 20px;
                    width: fit-content;
                }
            }
            
        }
        .skill{
            display: flex;
            padding-bottom: 75px;
            .skillbio{
                padding-left: 100px;
                display: flex;
                justify-content: left;
                align-items: start;
                width: 30%;
                text-transform: uppercase;
            }
            .skillcards{
                display: flex;
                padding-right: 100px;
                width: 90%;
            }
        }
    }
}