html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    font-family: 'DM Sans', sans-serif;
}

*{
    padding: 0%;
    margin: 0%;
    block-size: border-box;
}

body{
    background-color: #dad6ca;
    color: #121212;
}

a{
    text-decoration: none;
    color: inherit;
}

section{
    height: 100vh;
    // width: 100vw;
    scroll-snap-align: center;
    overflow: hidden;
}
@mixin mobile {
    @media (max-width: 738px) {
        @content;
    }
}
@mixin tablet {
    @media (max-width: 1024px) {
        @content;
    }
}
@mixin desktop {
    @media (max-width: 1366px) {
        @content;
    }
}