@import "../../../App.scss";

.navbarl{
    // background-color: rgb(22, 38, 6);
    background-color: #5fc58f85;
    color: #d3d3d3;
    height:50px;
    font-size: large;
    // display: flex;
    // position: fixed;
    top: 0;
    z-index: 0;

    .navbarl-container {
        max-width: 95%;
        padding-right: 15px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        height: 100%;
        align-items: center;
        .navname{
            @include mobile{
                display: none;
            }
        }
        .locationl{
            display: flex;
            align-items: center;
            font-size: inherit;
            color: inherit;
            text-decoration: none;
            height: 100%;
            @include mobile{
                display: none;
            }
            .iconl{
                display: inherit;
                align-items: inherit;
                padding: 5px;
                height: 15px;
                width: 15px;
            }
        }
        .menul{
            // justify-content: space-between;
            display: flex;
            align-items: center;
            font-size: inherit;
            color: inherit;
            text-decoration: none;
            height: 100%;
        }
    }
}
a {
    z-index: 3;
    width: auto;
    // height: 50px;
    font-size: large;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    // padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
a:hover{
    color: orange;
}

// span{
//     @include mobile{
//         display: none;
//     }
// }

