@import "../../../App.scss";
.abt1{
    display: flex;
    flex-direction: column;
    // height: 100vh;
    justify-content: space-between;
    // background-color: #121212;
    background-color: #5fc58f85;
    color: rgb(22, 38, 6);
    // padding-top: 40px;
    padding-top: 15px;
    font-size: larger;
    @include mobile{
        font-size: 15px;
    }
    .acontainer1{
        display: flex;
        flex-direction: column;
        // background-color: #121212;
        // background-color: rgb(22, 38, 6);
        // background-color: #5fc58f85;
        color: #d3d3d3;
        .exper{
            display: flex;
            padding-bottom: 40px;
            font-size: larger;
            @include mobile{
                font-size: medium;
                flex-direction: column;
                padding-bottom: 10px;
                padding-top: 8px;
                border-bottom: 1px  solid #d3d3d367;
            }
            .ex{
                padding-left: 20px;
                display: flex;
                justify-content: left;
                align-items: start;
                width: 30%;
                text-transform: uppercase;
                @include mobile{
                    padding-left: 40px;
                    font-size: 15px;
                }
            }
            .excards{
                display: flex;
                justify-content: left;
                align-items:start;
                padding-right: 85px;
                padding-left: 100px;
                width: 90%;
                @include mobile{
                    padding-left: 20px;
                    padding-top: 10px;
                    font-size: 15px;
                }
            }
        }
        .interest{
            display: flex;
            padding-bottom: 75px;
            font-size: larger;
            @include mobile{
                font-size: medium;
                flex-direction: column;
                padding-bottom: 20px;
                padding-top: 10px;
            }
            .intbio{
                padding-left: 20px;
                display: flex;
                justify-content: left;
                align-items: start;
                width: 30%;
                text-transform: uppercase;
                @include mobile{
                    padding-left: 40px;
                    font-size: 15px;
                }
            }
            .intcards{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                padding-right: 100px;
                width: 90%;
                @include mobile{
                    padding-left: 10px;
                    padding-top: 10px;
                    padding-right: 10px;
                    font-size: 15px;
                }
            }
        }
        .skill{
            display: flex;
            padding-bottom: 20px;
            font-size: larger;
            @include mobile{
                font-size: medium;
                flex-direction: column;
                padding-bottom: 7px;
                border-bottom: 1px  solid #d3d3d367;
            }
            .skillbio{
                padding-left: 20px;
                display: flex;
                justify-content: left;
                align-items: start;
                width: 30%;
                text-transform: uppercase;
                @include mobile{
                    padding-left: 40px;
                    font-size: 15px;
                }
            }
            .skillcards{
                display: flex;
                padding-right: 100px;
                width: 100%;
                @include mobile{
                    padding-left: 20px;
                    padding-top: 10px;
                    font-size: 15px;
                }
            }
        }
    }
}