html {
    scroll-snap-type: y mandatory;
}

body {
    background: rgb(253, 156, 29);
    background: radial-gradient(
        circle,
        rgba(253, 126, 29, 0.5) 50%,
        rgba(252, 176, 69, 0.5) 100%
    );
    color: white;
}

.App {
    font-family: sans-serif;
    text-align: center;
    display:grid;
    justify-content: left;
}

h2 {
    margin: 0;
    color: rgb(39, 0, 0);
    left: calc(50% + 450px);
    top: calc(50% - 470px);;
    font-size: 76px;
    font-weight: 700;
    font-family: sofia-pro, sans-serif;
    font-style: normal;
    letter-spacing: -2px;
    line-height: 1.2;
    position: absolute;
}

.cardholder{
    display: flex;
    position: relative;
    max-height: 90vh;
    margin: 20px;
    overflow: hidden;
    border-radius: 5px;
}

.card {
    padding: 3rem 5rem;
    text-align: left;
    /* display: flex; */
    justify-content: center;
    position: relative;
    max-height: 90vh;
    margin: 20px;
    overflow: hidden;
    border-radius: 20px;
    background-color: rgba(255, 228, 196, 0.52);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.pro {
    
    padding: 3rem 5rem;
    text-align: center;
    justify-content: center;
    display: flex;
    justify-content: center;
    position: relative;
    height: 5px;
    width: 50px;
    /* max-height: 90vh; */
    /* margin: 20px; */
    overflow: hidden;
    border-radius: 20px;
    background-color: rgba(255, 228, 196, 0.52);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card > h1 {
    margin: 0;
    color: rgb(39, 0, 0);
    font-size: 24px;
    font-weight: 700;
    font-family: sofia-pro, sans-serif;
    font-style: normal;
    letter-spacing: 0px;
    line-height: 1.2;
    position: absolute;
    text-align: left;
    top: 30px;
}

.card > p {
    margin: 0;
    color: rgb(39, 0, 0);
    font-family: sofia-pro, sans-serif;
    font-style: normal;
    line-height: 1.2;
    position: relative;
    line-break: auto;
    padding-top: 1rem;
    font-size: 30px;
    line-height: 125%;
    justify-self:left ;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    scroll-snap-align: center;
    perspective: 500px;
}

i {
    font-size: 21px;
}

a {
    text-decoration: none;
    color: rgb(39, 0, 0);
}
