@import "../../App.scss";
.menubar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #dad6ca;
    // color: rgb(22, 38, 6);
    // padding-top: 80px;
    // padding-top: 25px;
    // font-size: larger;
    color: black;
    .menubar-container {
        z-index: 2;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 400px;
        // background: #c7c3b8;
        background-color: #4d7b62;
        border-top-left-radius: 70%;
        border-bottom-left-radius: 70%;
        // @include mobile {
        //     width: 200px;
        // }

        .links {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 150px;

            a {
                font-size: 40px;

                // @include mobile {
                //     font-size: 20px;
                // }
            }
        }
    }

    button {
        z-index: 3;
        width: 50px;
        height: 50px;
        font-size: large;
        border-radius: 50%;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}